/*
Dropbox Sign API

Dropbox Sign v3 API

API version: 3.0.0
Contact: apisupport@hellosign.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package dropboxsign

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// BulkSendJobApiService BulkSendJobApi service
type BulkSendJobApiService service

type BulkSendJobApiApiBulkSendJobGetRequest struct {
	ctx _context.Context
	ApiService *BulkSendJobApiService
	bulkSendJobId string
	page *int32
	pageSize *int32
}

// Which page number of the BulkSendJob list to return. Defaults to &#x60;1&#x60;.
func (r BulkSendJobApiApiBulkSendJobGetRequest) Page(page int32) BulkSendJobApiApiBulkSendJobGetRequest {
	r.page = &page
	return r
}
// Number of objects to be returned per page. Must be between &#x60;1&#x60; and &#x60;100&#x60;. Default is 20.
func (r BulkSendJobApiApiBulkSendJobGetRequest) PageSize(pageSize int32) BulkSendJobApiApiBulkSendJobGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r BulkSendJobApiApiBulkSendJobGetRequest) Execute() (BulkSendJobGetResponse, *_nethttp.Response, error) {
	return r.ApiService.BulkSendJobGetExecute(r)
}

/*
BulkSendJobGet Get Bulk Send Job

Returns the status of the BulkSendJob and its SignatureRequests specified by the `bulk_send_job_id` parameter.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param bulkSendJobId The id of the BulkSendJob to retrieve.
 @return BulkSendJobApiApiBulkSendJobGetRequest
*/
func (a *BulkSendJobApiService) BulkSendJobGet(ctx _context.Context, bulkSendJobId string) BulkSendJobApiApiBulkSendJobGetRequest {
	return BulkSendJobApiApiBulkSendJobGetRequest{
		ApiService: a,
		ctx: ctx,
		bulkSendJobId: bulkSendJobId,
	}
}

// Execute executes the request
//  @return BulkSendJobGetResponse
func (a *BulkSendJobApiService) BulkSendJobGetExecute(r BulkSendJobApiApiBulkSendJobGetRequest) (BulkSendJobGetResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  BulkSendJobGetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendJobApiService.BulkSendJobGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bulk_send_job/{bulk_send_job_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"bulk_send_job_id"+"}", _neturl.PathEscape(parameterToString(r.bulkSendJobId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BulkSendJobApiApiBulkSendJobListRequest struct {
	ctx _context.Context
	ApiService *BulkSendJobApiService
	page *int32
	pageSize *int32
}

// Which page number of the BulkSendJob List to return. Defaults to &#x60;1&#x60;.
func (r BulkSendJobApiApiBulkSendJobListRequest) Page(page int32) BulkSendJobApiApiBulkSendJobListRequest {
	r.page = &page
	return r
}
// Number of objects to be returned per page. Must be between &#x60;1&#x60; and &#x60;100&#x60;. Default is 20.
func (r BulkSendJobApiApiBulkSendJobListRequest) PageSize(pageSize int32) BulkSendJobApiApiBulkSendJobListRequest {
	r.pageSize = &pageSize
	return r
}

func (r BulkSendJobApiApiBulkSendJobListRequest) Execute() (BulkSendJobListResponse, *_nethttp.Response, error) {
	return r.ApiService.BulkSendJobListExecute(r)
}

/*
BulkSendJobList List Bulk Send Jobs

Returns a list of BulkSendJob that you can access.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BulkSendJobApiApiBulkSendJobListRequest
*/
func (a *BulkSendJobApiService) BulkSendJobList(ctx _context.Context) BulkSendJobApiApiBulkSendJobListRequest {
	return BulkSendJobApiApiBulkSendJobListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BulkSendJobListResponse
func (a *BulkSendJobApiService) BulkSendJobListExecute(r BulkSendJobApiApiBulkSendJobListRequest) (BulkSendJobListResponse, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  BulkSendJobListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BulkSendJobApiService.BulkSendJobList")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bulk_send_job/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.pageSize != nil {
		localVarQueryParams.Add("page_size", parameterToString(*r.pageSize, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
